# API
API_PORT=3000
CORS_ORIGIN=http://localhost:5173

# Postgres
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=eventflow
POSTGRES_USER=eventflow
POSTGRES_PASSWORD=eventflow_pw

# MariaDB
MARIADB_HOST=mariadb
MARIADB_PORT=3306
MARIADB_DATABASE=eventflow
MARIADB_USER=eventflow
MARIADB_PASSWORD=eventflow_pw
MARIADB_ROOT_PASSWORD=root_pw